.container {margin-left: 300px;
	margin-right: 300px;}
	
	.container{
  /*float:left;*/
  background-color:white;
width: 700px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1.0em;
/* text-align: center; */

}
h2 { float:left; }
a {
font-color:black;

}
#menu ul{
  /* text-align: center; */
/*background-color: #98FB98;*/
margin:0;
padding:0;
}
#menu ul li {
list-style: none;
/* display: none; */
}
.container li a {
float: left;
padding: 10px 30px 10px 30px;
background-color: palegreen;
border-right:1px solid #000000;
} 
h1 {float:right;}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.command-table{
/*margin-left:100px;}*/}

.btn3d.btn-primary {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274D7;
	text-align: center;

}

.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #4274D7;
}
#nav-button{
	/*margin-left:500px;*/
	align-self:center;

}
p.text{
}
h1{margin-top:100px;}
#mySidenav{
    width: 250px;
}